<div class="col=lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

  <h1>{{title}}</h1>
  
  <div *ngIf="alertMsj">
    <div class="alert alert-info col=lg-6" role="alert">
      {{alertMsj}}
    </div>
  </div>
  
  <form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6">
    <p>
      <label>Name</label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required 
      class="form-control" />
      <span *ngIf="!name.valid && name.touched">
        Name is required
      </span>
    </p>
    <p>
      <label>Description</label>
      <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required
      class="form-control"></textarea>
      <span *ngIf="!description.valid && description.touched">
        Description is required
      </span>
    </p>

    <div *ngIf="is_edit">
      <div class="artist_image_for_edit" *ngIf="artist.image != 'null' && artist.image">
        <img src="{{ url + 'get-image-artist/' + artist.image }}" />
      </div>

      <p>
        <label>Upload artist image</label>
        <br>
        <input type="file" placeholder="Upload Image" (change)="fileChangeEvent($event)" />
      </p>
    </div>
    
    <input type="submit" value="{{title}}" [disabled]="!formArtist.form.valid" 
    class="btn btn-success"/>
  </form>
</div>

<div class="col=lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
  <h1>Error</h1>
  <P>Access no granted</P>
</div>