html, body {
  background: #6e6e70;
  margin: 0px;
  height: 100%;
  /* display: flex; */
}

h1, h2, p, span {
  color: azure;
}

.central {
  height: 100%;
  overflow-y: scroll;
}

.confirm {
  margin-top: -40px;
  background: black;
}

.actived {
  border-bottom: 4px solid #84bd00;
  padding-bottom: 4px;
}

.head-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation {
  text-align: center;
  color: white;
  background: rgb(19, 17, 17);
  top: -20px;
  padding-top: 15px;
  height: 104%;
}

.navigation a {
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation .fas {
  font-size: 25px;
  display: block;
  width: 100%;
}

#user_logged {
  text-decoration: center;
  background: rgb(19, 17, 17);
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  width: 75%;
}
  
.btn-signout{
  cursor: pointer;
}

#user_logged .user-image {
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user_logged .user-image {
  width: 57px;
}

.login {
  display: flex;
}

.artist_image_for_edit img{
  width: 170px;
}

.artists-list {
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style: none;
}

.artist-item {
  width: 23%;
  margin: 0px;
  padding: 0px;
  height: 117px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-top: 20px;
}

.artist-item .artist-image{
  height: 100%;
  width: 100%;
  overflow: hidden;
} 

.artist-item .artist-image img{
  width: 100%;
}

.artist-item .artist-name a{
  color: white;
  padding: 10px;
  background: #222326;
}

.artist-item .artist-name a{
  color: white;
}

#artist-head-card .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px; 
}

#artist-head-card .image img {
  width: 150px;
}